body {
  text-align: center;
}

#choices {
  display: flex;
  justify-content: center;
  align-items: center;
}

#choices button {
  font-size: 32px;
  padding: 50px;
  margin: 10px;
  background-color: #016af3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

#choices button:hover {
  background-color: rgb(0, 61, 61);
}